* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: poppins, sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

body::-webkit-scrollbar {
  display: none;
}

section {
  background-image: url(resized.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-toggle {
  opacity: 0;
}


img {
  text-align: left;
  width: 5rem;
  position: absolute;
  margin-left: 10px;
}

.menu-bar .logoname {
  position: absolute;
  margin-left: 5.3rem;
  margin-top: 1.4rem;
  font-weight: bolder;
  font-size: 2.3rem;
}

.menu-bar {
  background-color: rgb(40, 167, 199);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  display: inline-block;
  width: 100%;
}

.menu-bar .sidebar ul {
  display: inline-flex;
  list-style: none;
  margin-left: 700px;
  text-align: center;
}

.menu-bar .sidebar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar .sidebar ul li a {
  color: black;
  text-decoration: none;
}

.active,
.menu-bar ul li:hover {
  background: rgba(8, 101, 124, 0.565);
  border-radius: 3px;
}

.sub-menu {
  display: none;

}

.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.911);
  margin-top: 15px;
  margin-left: -40px;
  border-radius: 10PX;


}

.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
  font-size: 10px;
  font-weight: bold;
}

.waviy {
  position: relative;
  margin-top: 10rem;
  text-align: center;
}

.waviy1 span {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #0f0f0f;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
  margin-bottom: 1rem;
}

.waviy2 span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: #0f0f0f;
  text-transform: uppercase;
  animation: flip 2.1s infinite;
  animation-delay: calc(.2s * var(--i));
  margin-bottom: 1rem;
}

.waviy3 span {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #0f0f0f;
  text-transform: uppercase;
  animation: flip 2.2s infinite;
  animation-delay: calc(.2s * var(--i));
}

@keyframes flip {

  0%,
  80% {
    transform: rotateX(360deg)
  }
}

.wel {
  position: relative;
  margin-top: 6rem;
  text-align: left;
  font-size: 20px;
  margin-left: 5rem;
}

.free {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  /* text-align: left; */
  /* font-size: 15px; */
  margin-left: 5rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;

}

.free a {
  text-decoration: none;
}

.free a p {
  color: #eee;
  background-color: rgb(40, 167, 199);
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  /* border-width: 5000px; */
}

.free:hover {
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);

}

.sub-menu {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.sub-menu:hover {
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.main-body {
  position: relative;
  margin-top: 6rem;
  text-align: left;
  font-size: 20px;
  margin-left: 5rem;

}

.main-body ul {
  display: inline-flex;
}

.main-body ul li {
  padding: 20px;
  list-style-type: none;
}

.main-body ul li .title {
  margin-left: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about {
  position: relative;
  margin-top: 6rem;
  text-align: left;
  font-size: 20px;
  margin-left: 5rem;
}

.about .title {
  margin-left: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

hr.class-1 {
  border: none;
  border-top: 2px solid #131111;
  width: 100%;

}



.clients {
  position: relative;
  width: 100%;
  left: 1rem;
  top: 3rem;
  padding: 4rem;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

/* Style each of the sides 
with a fixed width and height */
.slide {
  float: left;
  height: 280px;
  width: 728px;
}

/* Add animation to the slides */
.slide-wrapper {

  /* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 4);

  /* Specify the animation with the
  duration and speed */
  animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */
.slide:nth-child(1) {
  background-image: url(img1.png);
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background-image: url(img2.png);
  background-repeat: no-repeat;
}

.slide:nth-child(3) {
  background-image: url(img3.png);
  background-repeat: no-repeat;
}

.slide:nth-child(4) {
  background-image: url(img4.png);
  background-repeat: no-repeat;
}

/* Define the animation 
for the slideshow */
@keyframes slide {

  /* Calculate the margin-left for 
  each of the slides */
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: calc(-728px * 1);
  }

  60% {
    margin-left: calc(-728px * 2);
  }

  80% {
    margin-left: calc(-728px * 3);
  }
}

.values {
  position: relative;
  width: 100%;
  padding: 4rem;
}

.form {
  overflow-y: scroll;
  background-image: url(top.jpg);
  opacity: 0.5;
  width: 95%;
  height: 40rem;
  border-radius: 5px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */


}

.form::-webkit-scrollbar {
  display: none;
}

.form .f1 {
  text-align: center;
  display: inline-block;
  height: 3rem;
  width: 45%;
  margin-left: 2.5rem;
  margin-top: 9rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

input:hover,
textarea:hover,
button:hover {
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.03);
}

.form .f2 {
  text-align: center;
  display: inline-block;
  height: 3rem;
  width: 94%;
  margin-left: 2.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.form .f3 {
  text-align: left;
  display: block;
  margin-left: 2.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.form .f4 {
  text-align: center;
  display: inline-block;
  height: 13rem;
  width: 94%;
  margin-left: 2.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.form .f5 {
  background-color: rgb(40, 167, 199);
  text-align: center;
  font-weight: bold;
  display: inline-block;
  height: 3rem;
  width: 10%;
  margin-left: 2.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.form p {
  text-align: center;
  margin-top: 5rem;
  font-weight: bold;
}

.con h1 {
  margin-top: 6rem;
  text-align: center;
  font-size: 7rem;
  margin-left: 5rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.foot {
  background-color: #333;
  width: 95%;
  border-radius: 5px;
  margin-top: 5px;
  color: antiquewhite;
  padding: 5px;
}

.foot ul li p {
  margin-top: 10px;
}

.foot .color {
  color: antiquewhite;
}

.foot a {
  text-decoration: none;
  color: antiquewhite;
}

h1,
h2,
h3,
span {
  background: -webkit-linear-gradient(rgb(77, 98, 190), rgb(10, 10, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.footer {
  background-color: #0f0f0f;
  width: 95%;
  height: 10rem;
  color: antiquewhite;
  padding: 60px;
  text-align: center;
  font-size: small;
  border-radius: 5px;
  margin-top: 10px;
}

.footc {
  /* margin-left: 5rem; */
  background-color: #333;
  width: 100%;
  border-radius: 5px;
  margin-top: 5rem;
  color: antiquewhite;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.footc ul li p {
  margin-top: 5px;
}

.footc .color {
  color: antiquewhite;
}

.footc a {
  text-decoration: none;
  color: antiquewhite;
}

.abouta .title {
  text-align: center;
  margin-left: 5rem;
  font-weight: bolder;
  font-size: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.abouta .body {
  text-align: center;
  text-decoration: none;
  margin-left: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footera {
  background-color: #0f0f0f;
  width: 89%;
  height: 10rem;
  color: antiquewhite;
  padding: 60px;
  text-align: center;
  font-size: small;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5rem;
}

.forma {
  background-color: rgb(40, 167, 199);
  opacity: 0.5;
  width: 89%;
  height: 100%;
  border-radius: 5px;
  margin-left: 5rem;


}

.forma .f1 {
  text-align: center;
  display: inline-block;
  height: 3rem;
  width: 45%;
  margin-left: 2.5rem;
  margin-top: 9rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.forma .f2 {
  text-align: center;
  display: inline-block;
  height: 3rem;
  width: 94%;
  margin-left: 2.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.forma .f3 {
  text-align: center;
  display: inline-block;
  margin-left: 2.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.forma .f4 {
  text-align: center;
  display: inline-block;
  height: 13rem;
  width: 94%;
  margin-left: 2.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.forma .f5 {
  color: rgb(40, 167, 199);
  background-color: black;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  height: 3rem;
  width: 10%;
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding: 10px;
}

.forma p {
  padding: 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}


#bnt {
  width: 200px;
}

#myBtn {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 30px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  /* background-color: transparent; Set a background color */
  /* color: white; Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 70px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  border-color: rgb(40, 167, 199);
}

#myBtn:hover {
  zoom: 5px;
}

/* Add responsive styles for mobile and tablet views */
@media screen and (max-width: 768px) {
  .menu-bar {
    background-color: rgb(40, 167, 199);
    position: sticky;
    top: 0;
    z-index: 1;
    display: inline-block;
    width: 100%;
  }

  img {
    text-align: left;
    width: 3rem;
    position: relative;
    margin-left: 6px;
    margin-top: 1.4rem;
  }

  .menu-bar .logoname {
    position: absolute;
    margin-left: 3px;
    margin-top: 3rem;
    font-weight: bolder;
    font-size: .6rem;
  }

  .menu-toggle {
    position: fixed;
    position: -webkit-fixed;
    top: 35px;
    right: 190px;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
    opacity: 100%;
  }


  .sidebar {
    position: fixed;
    top: 0;
    right: 170px;
    width: 10rem;
    height: 25%;
    background-color: rgb(40, 167, 199);
    transition: 1s ease;
    z-index: 2;
    opacity: 100%;
    display: none;
  }

  .menu-bar .sidebar ul {
    position: relative;
    display: inline-block;
    margin-left: -1rem;
    list-style: none;
    padding: 0;
  }

  .menu-bar .sidebar ul li {
    padding: 10px;
  }

  .menu-bar .sidebar ul li a {
    text-decoration: none;
    color: white;
  }

  .waviy {
    position: relative;
    margin-top: 4rem;
    text-align: left;
    margin-left: 2rem;
  }

  .waviy1 span,
  .waviy2 span {
    font-weight: bolder;
    font-size: 20px;

  }

  .waviy3 span {
    font-weight: bolder;
    font-size: 15px;

  }

  .wel {
    position: relative;
    margin-top: 1rem;
    text-align: left;
    font-size: 13px;
    margin-left: 2rem;
    margin-bottom: 0rem;
  }


  .free {
    display: inline;
    left: 2rem;


  }

  .free a p {
    width: 10rem;
    color: #eee;
    background-color: rgb(40, 167, 199);
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .main-body {
    text-align: left;
    font-size: 8px;
    margin-left: 1rem;
    font-weight: 500;
  }

  .main-body ul {
    display: block;
  }

  .main-body ul li .title {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }

  .about {
    text-align: left;
    font-size: 8px;
    margin-left: 2rem;
    font-weight: 500;
  }

  .about .title {
    left: 20rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
  }

  .clients {
    width: 100%;
    left: 0;
    top: 2px;
    padding: 4px;
  }

  .values {
    position: relative;
    width: 150%;
    padding: 4rem;
    right: 5.5rem;
  }

  .form {
    background-color: rgb(40, 167, 199);
    opacity: 0.5;
    width: 89%;
    height: 100%;
    border-radius: 5px;
    margin-left: 1rem;
    background-image: url();
  }

  .form .f1 {
    display: inline-block;
    height: 2.5rem;
    width: 100px;
    margin-left: 1.7rem;
    margin-top: 3rem;
    border: none;
  }



  .form .f2 {
    text-align: center;
    display: inline-block;
    height: 2.5rem;
    width: 81%;
    margin-left: 1.7rem;
    margin-top: 1rem;
  }

  .form .f3 {

    margin-left: 1.7rem;
    margin-top: 10px;
  }

  .form .f4 {
    height: 5rem;
    text-align: center;
    display: inline-block;
    width: 81%;
    margin-left: 1.7rem;
    margin-top: 1rem;
  }

  .form .f5 {
    background-color: black;
    color: antiquewhite;
    height: 2rem;
    width: 6rem;
    margin-left: 1.7rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form p {
    margin-top: 3rem;
  }

  #myBtn {

    right: 13rem;
  }

  #slideshow {
    width: 80%;
    height: 500px;
    margin-right: 8rem;
  }

  .foot {
    background-color: #333;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    color: antiquewhite;
    padding: 5px;
  }

  .footer {
    background-color: #0f0f0f;
    width: 100%;
    height: 10px;
    color: antiquewhite;
    padding: 60px;
    text-align: center;
    font-size: small;
    border-radius: 5px;
    margin-top: 10px;
  }

  .con h1 {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 0;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .abouta .title {
    color: blue;
    text-align: center;
    margin-left: 0;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .abouta .body {
    font-size: 10px;
    text-align: left;
    margin-left: .4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

  }

  .footera {
    background-color: #0f0f0f;
    width: 100%;
    height: 1rem;
    color: antiquewhite;
    padding: 60px;
    text-align: center;
    font-size: small;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0;
  }

  .forma {
    background-color: rgb(40, 167, 199);
    opacity: 0.5;
    width: 89%;
    height: 100%;
    border-radius: 5px;
    margin-left: 5rem;
    display: none;

  }


}